@charset "UTF-8";
.header {
  width: 1300px;
  margin: 0 auto;
}
.header .header-line {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header-line .header-menu {
  display: none;
  font-size: 1.3rem;
}
.header .header-line .header-logo {
  padding: 1rem;
}
.header .header-line .header-sity .sity-text:hover {
  color: rgba(57, 54, 83, 0.6078431373);
}
.header .header-line .header-calculator .calculator-text:hover {
  color: rgba(57, 54, 83, 0.6078431373);
}
.header .header-line .header-calculator .calculator-text::after {
  content: "";
  position: absolute;
  background-image: url(../img/иконка\ калькулятора.png);
  display: inline-block;
  width: 5rem;
  height: 5rem;
  background-repeat: no-repeat;
  margin-left: 20px;
}
.header .header-line .header-guestion .guestion-line {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .header-line .header-guestion .guestion-line .guestion-text:hover {
  color: rgba(57, 54, 83, 0.6078431373);
}
.header .header-line .header-guestion .header-socials {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .header-line .header-guestion .header-socials .social-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 1rem;
}
.header .header-line .header-guestion .header-socials .social-line:last-child {
  margin-right: 0;
}
.header .header-line .header-guestion .header-socials .social-line .social-img {
  margin-right: 0.5rem;
}
.header .header-line .header-guestion .header-socials .social-line .social-img:last-child {
  margin-right: 0;
}
.header .header-line .header-guestion .header-socials .social-line .social {
  font-size: 1.3rem;
}
.header .header-line .header-guestion .header-socials .social-line .social:hover {
  color: rgba(57, 54, 83, 0.6078431373);
}
.header .header-line .header-number .number-image {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header-line .header-number .header-num {
  text-align: center;
}
.header .header-line .header-number .header-num:hover {
  color: rgba(57, 54, 83, 0.6078431373);
}
.header .header-line .header-number .timetable {
  color: rgba(60, 60, 60, 0.464);
  font-size: 1rem;
  text-align: center;
}
.header .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header-nav .cataloge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header-nav .nav-items {
  color: black;
  padding: 1rem;
}
.header .header-nav .nav-items:hover {
  color: rgba(57, 54, 83, 0.6078431373);
}
.header .header-nav .last-block {
  position: relative;
  background-color: #CF0953;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header .header-nav .last-block:hover {
  background-color: #242c3b;
}
.header .header-nav .last-block .header_btn {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 1.3rem 3.5rem;
  display: inline-block;
}
.header .header-nav .last-img {
  position: absolute;
  top: 1.3rem;
  left: 15.6rem;
  cursor: pointer;
}

@media (max-width: 370px) {
  .header {
    outline: none;
    width: 350px;
    margin: 0 auto;
  }
  .header .header-line .header-menu {
    display: inline-block;
  }
  .header .header-line .header-menu .menu {
    color: #000;
  }
  .header .header-line .logo .header-logo {
    width: 14rem;
    height: 5rem;
  }
  .header .header-line .header-sity {
    display: none;
  }
  .header .header-line .header-calculator {
    display: none;
  }
  .header .header-line .header-guestion .guestion-line {
    display: none;
  }
  .header .header-line .header-guestion .guestion-line .guestion-text {
    display: none;
  }
  .header .header-line .header-guestion .social-line .social {
    display: none;
  }
  .header .header-line .header-number {
    display: none;
  }
  .header .header-line .header-number .number-image .header-num {
    display: none;
  }
  .header .header-line .header-number .timetable {
    display: none;
  }
  .header .header-nav {
    display: none;
  }
}
a {
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
}

p {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.6rem;
}

.matte-section {
  margin-bottom: 5rem;
}
.matte-section .matte-text-wrap {
  width: 98rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}
.matte-section .matte-text-wrap .matte-title {
  font-weight: 600;
  font-size: 3.6rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1rem;
}
.matte-section .matte-text-wrap .matte-text {
  font-size: 1.6rem;
  text-align: center;
  color: rgba(49, 56, 70, 0.4156862745);
  margin-bottom: 2rem;
}
.matte-section .matte-text-wrap .matte-cost-line {
  width: 24.3rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.matte-section .matte-text-wrap .matte-cost-line .matte-cost {
  margin-right: 1rem;
}
.matte-section .matte-text-wrap .matte-cost-line .matte-cost .matte-text-cost {
  text-align: center;
  color: rgba(49, 56, 70, 0.4156862745);
}
.matte-section .matte-text-wrap .matte-cost-line .matte-cost .matte-title-cost {
  font-weight: 600;
  font-size: 2.8rem;
  color: #cf0953;
}
.matte-section .application-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.matte-section .application-wrap .application-block {
  padding: 2rem 1rem;
  background-color: #cf0953;
}
.matte-section .application-wrap .application-block .app-title {
  font-weight: 600;
  font-size: 2.4rem;
  text-transform: uppercase;
  width: 30.5rem;
  color: #fff;
  margin-bottom: 1.5rem;
}
.matte-section .application-wrap .application-block .app-input {
  padding: 1.1rem 1.5rem;
  width: 43rem;
  height: 5rem;
  border: none;
  margin-bottom: 1.5rem;
}
.matte-section .application-wrap .application-block .app-button {
  margin-bottom: 1.5rem;
  padding: 1.5rem 1rem;
  text-align: center;
  background-color: #242c3b;
}
.matte-section .application-wrap .application-block .app-text {
  margin: 0 auto;
  width: 35rem;
  text-align: center;
  color: #fff;
  font-size: 1rem;
}
.matte-section .application-catloge-image .app-cataloge-img {
  width: 100%;
}

.mate-cost-section {
  margin-bottom: 5rem;
}
.mate-cost-section .mate-cost-text_wrp {
  margin-bottom: 3rem;
}
.mate-cost-section .mate-cost-text_wrp .matte-cost-title {
  width: 76rem;
  margin: 0 auto;
  font-weight: 600;
  font-size: 3.6rem;
  text-transform: uppercase;
  text-align: center;
}
.mate-cost-section .mcost-image {
  border: 1px solid rgba(0, 0, 0, 0.0980392157);
}
.mate-cost-section .mcost-image .mcost-img {
  width: 100%;
}

.calculation-section {
  margin-bottom: 10rem;
}
.calculation-section .calculation-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}
.calculation-section .calculation-wrap .calculation-info-block {
  width: 64rem;
}
.calculation-section .calculation-wrap .calculation-info-block .calculation-title {
  font-weight: 600;
  font-size: 3.6rem;
  text-transform: uppercase;
}
.calculation-section .calculation-wrap .calculation-info-block .calculation-text {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.3725490196);
  margin-bottom: 2rem;
}
.calculation-section .calculation-wrap .calculation-info-block .calculation-type-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3rem;
}
.calculation-section .calculation-wrap .calculation-info-block .calculation-type-block .calculation-type-wrap .calculation-type-title {
  background-color: #f7f7f9;
  padding: 0.8rem 2rem;
  width: 28.5rem;
  height: 4.3rem;
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.calculation-section .calculation-wrap .calculation-info-block .calculation-type-block .calculation-type-wrap .calculation-types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.calculation-section .calculation-wrap .calculation-info-block .calculation-type-block .calculation-type-wrap .calculation-types .types-button {
  padding: 0.8rem 2rem;
  width: 13.8rem;
  height: 3.8rem;
  border: 1px solid #e5eaf3;
  text-align: center;
  margin-bottom: 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.calculation-section .calculation-wrap .calculation-info-block .calculation-type-block .calculation-type-wrap .calculation-types .types-button:hover {
  background-color: #cf0953;
}
.calculation-section .calculation-wrap .calculation-info-block .calculation-type-block .calculation-type-wrap .calculation-types .types-button .types-btn {
  color: #6a7180;
  font-weight: 500;
  font-size: 1.6rem;
}
.calculation-section .calculation-wrap .calculation-info-block .calculation-type-block .calculation-type-wrap .calculation-types .types-button .types-btn:hover {
  color: #fff;
}
.calculation-section .calculation-wrap .calculation-info-block .calculation-num-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.calculation-section .calculation-wrap .calculation-info-block .calculation-num-block .calculation-num-wrap .calcualion-num-title {
  text-align: center;
  background-color: #f7f7f9;
  padding: 0.8rem 2rem;
  width: 28.5rem;
  height: 4.3rem;
  font-weight: 500;
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.calculation-section .calculation-wrap .calculation-info-block .calculation-num-block .calculation-num-wrap .calculation-nums {
  text-align: center;
}
.calculation-section .calculation-wrap .calculation-info-block .calculation-num-block .calculation-num-wrap .calculation-nums .nums-text {
  font-weight: 500;
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.3607843137);
  margin-bottom: 1rem;
}
.calculation-section .calculation-wrap .calculation-info-block .calculation-num-block .calculation-num-wrap .calculation-nums .nums-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 19rem;
}
.calculation-section .calculation-wrap .calculation-info-block .calculation-num-block .calculation-num-wrap .calculation-nums .nums-input .num-input {
  background-color: #f7f7f9;
  width: 10.5rem;
  height: 3.8rem;
  border: none;
  padding: 1rem 4.6rem;
}
.calculation-section .result-cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.calculation-section .result-cost .result-cost-text {
  font-weight: 600;
  font-size: 2.4rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3725490196);
}
.calculation-section .result-cost .result-cost-text span {
  color: #000;
}
.calculation-section .result-cost .result-cost-num-wrap {
  width: 60rem;
}
.calculation-section .result-cost .result-cost-num-wrap .result-num-text {
  font-weight: 500;
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.3725490196);
  margin-bottom: 1rem;
}
.calculation-section .result-cost .result-cost-num-wrap .result-num-line {
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.calculation-section .result-cost .result-cost-num-wrap .result-num-line .result-input-num {
  padding: 1.1rem 2rem;
  width: 19.7rem;
  height: 4.4rem;
  border: 2px solid rgba(0, 0, 0, 0.2235294118);
}
.calculation-section .result-cost .result-cost-num-wrap .result-num-line .result-line__button {
  padding: 1.1rem 1.5rem;
  width: 10.6rem;
  height: 4.4rem;
  font-weight: 500;
  font-size: 1.6rem;
  border: 2px solid rgba(0, 0, 0, 0.2235294118);
}
.calculation-section .result-cost .result-cost-num-wrap .result-num-line .result-line__button .result-btn {
  font-weight: 500;
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.6901960784);
  text-align: center;
}
.calculation-section .result-cost .result-cost-num-wrap .result-btn-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.calculation-section .result-cost .result-cost-num-wrap .result-btn-line .result_button {
  background-color: #cf0953;
  padding: 1.1rem 4rem;
  width: 30.3rem;
  height: 4.4rem;
  font-size: 1.6rem;
  text-align: center;
}
.calculation-section .result-cost .result-cost-num-wrap .result-btn-line .result_button .result_butn {
  color: #fff;
}
.calculation-section .result-cost .result-cost-num-wrap .result-btn-line .result-btn-text-wrap {
  width: 24rem;
}
.calculation-section .result-cost .result-cost-num-wrap .result-btn-line .result-btn-text-wrap .result-btn-text {
  font-size: 1rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.3725490196);
}

.about-section {
  margin-bottom: 10rem;
}
.about-section .about-main-title {
  font-weight: 600;
  font-size: 3.6rem;
  text-transform: uppercase;
}
.about-section .about-text {
  margin-bottom: 2rem;
}
.about-section .about-title {
  font-weight: 600;
  font-size: 2.4rem;
  text-transform: uppercase;
}
.about-section .about-second-title {
  font-weight: 500;
  font-size: 2rem;
  text-transform: uppercase;
}
.about-section .about-main-ul {
  padding: 1rem;
}
.about-section .about-main-ul .about-main-li {
  font-size: 2rem;
}
.about-section .secondary-ul {
  padding: 1rem;
}
.about-section .secondary-ul .secondary-li {
  font-size: 2rem;
}

.ready-section {
  margin-bottom: 10rem;
}
.ready-section .ready-title {
  font-weight: 600;
  font-size: 3.6rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1rem;
}
.ready-section .ready-text {
  margin: 0 auto;
  width: 60rem;
  font-size: 1.6rem;
  text-align: center;
  color: rgba(49, 56, 70, 0.4156862745);
  margin-bottom: 10rem;
}
.ready-section .ready-cards {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 20rem;
     -moz-column-gap: 20rem;
          column-gap: 20rem;
  row-gap: 5rem;
}
.ready-section .ready-cards .ready-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.ready-section .ready-cards .ready-card .ready-info-block {
  background-color: #f7f7f9;
}
.ready-section .ready-cards .ready-card .ready-info-block .ready-info-wrap {
  padding: 2rem 3rem;
}
.ready-section .ready-cards .ready-card .ready-info-block .ready-info-wrap .ready-info-title {
  margin-bottom: 3rem;
  font-weight: 600;
  font-size: 2rem;
  line-height: 160%;
  text-transform: uppercase;
}
.ready-section .ready-cards .ready-card .ready-info-block .ready-info-wrap .info-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.5rem;
}
.ready-section .ready-cards .ready-card .ready-info-block .ready-info-wrap .info-line .info-text {
  font-weight: 500;
  font-size: 1.6rem;
  color: rgba(49, 56, 70, 0.4156862745);
}
.ready-section .ready-cards .ready-card .ready-info-block .ready-info-wrap .price-text {
  font-weight: 600;
  font-size: 2rem;
}
.ready-section .ready-cards .ready-card .ready-info-block .ready-info-btn {
  padding: 1.1rem 9rem;
  background-color: #cf0953;
  font-size: 1.6rem;
  color: #fff;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
.ready-section .ready-cards .ready-card .ready-info-block .ready-info-btn:hover {
  background-color: #242c3b;
  color: #f7f7f9;
}

.result-section {
  margin-bottom: 5rem;
}
.result-section .result-section-title {
  font-weight: 600;
  font-size: 3.6rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1rem;
}
.result-section .result-section-text {
  font-size: 1.6rem;
  text-align: center;
  width: 60rem;
  margin: 0 auto;
  color: rgba(49, 56, 70, 0.4156862745);
  margin-bottom: 5rem;
}
.result-section .result-section-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 2.1rem;
     -moz-column-gap: 2.1rem;
          column-gap: 2.1rem;
  row-gap: 3rem;
}
.result-section .result-section-images .result-section-img {
  width: 300px;
  height: 270px;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
.result-section .result-section-images .result-section-img:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.interests-section {
  margin-bottom: 6rem;
}
.interests-section .interests-title {
  font-weight: 600;
  font-size: 3.6rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 5rem;
}
.interests-section .interests-cards {
  display: grid;
  grid-template-columns: auto auto auto auto;
  -webkit-column-gap: 5.6rem;
     -moz-column-gap: 5.6rem;
          column-gap: 5.6rem;
}
.interests-section .interests-cards .interest-card {
  background-color: #f7f7f9;
  width: 28.5rem;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.interests-section .interests-cards .interest-card:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.interests-section .interests-cards .interest-card .interest-card-image .interest-card-img {
  border-bottom: 8px solid #cf0953;
}
.interests-section .interests-cards .interest-card .interest-card-title {
  padding: 1rem;
  font-weight: 500;
  font-size: 2rem;
  text-transform: uppercase;
}

.contact-section .contact-items-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact-section .contact-items-wrap .contact-posibles-block {
  padding: 1rem;
  width: 56rem;
}
.contact-section .contact-items-wrap .contact-posibles-block .posible-title {
  font-weight: 600;
  font-size: 3.6rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.contact-section .contact-items-wrap .contact-posibles-block .posible-info-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}
.contact-section .contact-items-wrap .contact-posibles-block .posible-info-line .posible-image {
  margin-right: 1rem;
}
.contact-section .contact-items-wrap .contact-posibles-block .posible-info-line .posible-image .posible-img {
  width: 5rem;
  height: 5rem;
}
.contact-section .contact-items-wrap .contact-posibles-block .posible-info-line .posible-text {
  font-weight: 600;
  font-size: 2.4rem;
  text-transform: uppercase;
}
.contact-section .contact-items-wrap .contact-posibles-block .posible-info-line .posible-addres-text {
  font-weight: 500;
  font-size: 2rem;
  text-transform: uppercase;
}
.contact-section .contact-items-wrap .contact-posibles-block .posible-button-wrap {
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact-section .contact-items-wrap .contact-posibles-block .posible-button-wrap .posible-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.1rem 8rem;
  background-color: #f7f7f9;
}
.contact-section .contact-items-wrap .contact-posibles-block .posible-button-wrap .posible-button .posible-socai-image {
  margin-right: 1rem;
}
.contact-section .contact-items-wrap .contact-posibles-block .posible-button-wrap .posible-button .posible-btn {
  color: rgba(0, 0, 0, 0.6156862745);
  text-align: center;
  font-weight: 500;
  font-size: 1.6rem;
}
.contact-section .contact-items-wrap .contact-posibles-block .posible-map iframe {
  width: 54rem;
  height: 30rem;
}
.contact-section .contact-items-wrap .contact-definetion-block {
  padding: 2em 2rem 0rem 2rem;
  width: 54.9rem;
  background-color: #cf0953;
}
.contact-section .contact-items-wrap .contact-definetion-block .definetion-text-wrap {
  width: 50rem;
  margin-bottom: 2rem;
}
.contact-section .contact-items-wrap .contact-definetion-block .definetion-text-wrap .def-title {
  font-weight: 600;
  font-size: 2.4rem;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 1rem;
}
.contact-section .contact-items-wrap .contact-definetion-block .definetion-text-wrap .def-text {
  font-size: 1.6rem;
  color: #fff;
}
.contact-section .contact-items-wrap .contact-definetion-block .def-input-line {
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact-section .contact-items-wrap .contact-definetion-block .def-input-line .def-input {
  padding: 1.1rem 1.5rem;
  width: 24rem;
  height: 4.4rem;
  border: none;
}
.contact-section .contact-items-wrap .contact-definetion-block .def-button {
  background-color: #242c3b;
  padding: 1rem 1rem;
  text-align: center;
  margin-bottom: 3rem;
}
.contact-section .contact-items-wrap .contact-definetion-block .def-button .def-btn {
  color: #fff;
  font-size: 1.6rem;
}
.contact-section .contact-items-wrap .contact-definetion-block .def-image {
  width: 38rem;
  margin: 0 auto;
}
.contact-section .contact-items-wrap .contact-definetion-block .def-image .def-img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.contact-section .contact-items-wrap .contact-definetion-block .def-image .def-img:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.main {
  width: 1300px;
  margin: 0 auto;
}

html {
  font-size: 10px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "manrope";
}