@import "./mixin";
@import '../cta';
.proces-section{
    margin-bottom: 5rem;
    .proces-title{
        text-align: center;
        font-weight: 600;
        font-size: 3.6rem;
        text-transform: uppercase;
        color: $color-primary;
        margin-bottom: 1rem;
    }
    .proces-text{
        margin: 0 auto;
        font-size: 1.6rem;
        text-align: center;
        color: $color-transperent;
        width: 55rem;
        margin-bottom: 6rem;
    }
    .proces-block{
        display: flex;
        .stage-wrap{
            background-color: #f7f7f9;
            width: 25rem;
            .stage-card{
                padding: 4rem 1rem;
                height: 15rem;
                border-left: 3px solid;
                margin-bottom: 1rem;
                .stage-card-title{
                    font-weight: 600;
                    font-size: 2.4rem;
                    color: $color-primary;
                    margin-bottom: 1rem;
                }
                .stage-card-text{
                    font-weight: 500;
                    font-size: 1.6rem;
                    color: $color-primary;
                }
                &:hover{
                    color: $btn-background-red;
                    .stage-card-text{
                        color: $btn-background-red;
                    }
                    .stage-card-title{
                        color: $btn-background-red;
                    }
                }
            }
        }
        .application-wrap{
            width: 50.5rem;
            .application-text-wrapper{
                padding: 2.2rem 2rem;
                .application-title{
                    font-weight: 600;
                    font-size: 2.4rem;
                    text-transform: uppercase;
                    margin-bottom: 1.5rem;
                }
                .application-text{
                    font-size: 1.6rem;
                    color: $color-transperent;
                    margin-bottom: 2rem;
                }
            }
            .application-list-wrapper{
                border-bottom: 2px solid #00000012;
                border-top: 1px solid #00000012;
                padding: 2rem;
                margin-bottom: 3.2rem;
                .list-li{
                    font-size: 1.6rem;
                    margin-bottom: 2rem;
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
            .application-text{
                font-size: 1.6rem;
                color: $color-transperent;
                margin-bottom: 5rem;
            }
            .application-info-wrap{
                background-color: #6a7180;
                height: 15rem;
                padding: 1rem;
                    .input-wrap{
                        padding: 1rem;
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 1rem;
                        .application-input-wrap{
                            .application-input{
                                padding: 1.1rem 1.5rem;
                                width: 20.7rem;
                                height: 4.4rem;
                                border: none;
                            }
                        }
                    }
                    .application-button{
                        padding: 1rem;
                        .application-btn{
                            padding: 1.1rem 14.3rem;
                            height: 4.4rem;
                            background-color: $btn-background-red;
                            color: #fff;
                            font-size: 1.6rem;
                        }
                    }
            }
        }
        .proces-image{
            .proces-img{
                height: 63.6rem;
                width: 100%;
            }
        }
    }
}